

#portrait{
	height: auto;
	width: 80%;
}

.timeline {
  position: relative;
  margin: 4em 0 2em;
  padding: 1em inherit 2em;
}

.timeline:before {
  content: "";
  position: absolute;
  height: calc(100% + 2em);
  width: 1px;
  border-left: 4px solid #e91e63;

  left: 23px;
  top: 0em;
  bottom: 0;
  z-index: 0;
}

.timeline li {
  list-style: none;
}

.timeline li:before {
  position: absolute;
  content: "·";
  font-size: 120px;
  vertical-align: middle;
  line-height: 8px;
  left: 5px;
  margin-top: 4px;
  color: #e91e63;
}

